.app-footer {
    background-color: #FFF;
    // color: $clr4;
    // padding: 20px;
    display: flex;

    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
    margin: 0;
    height: rem(47.39px);
    border-top: 1px solid rgb(221, 221, 221);
    z-index: 9;
    align-items: center;

    div {
        line-height: 20.02px;
        margin-left: 40px;
        font-size: 14px;
        font-family: Airbnb_Cereal-Book;

        .footer-dot {
            width: rem(15px);
            display: inline-block;
            height: rem(18px);
        }

        img {
            margin-left: 0.4rem;
            width: 26px;
        }
    }
}