.app-header-container {
  grid-column: 1/-1;
  background-color: $clr6;
  position: sticky;
  top: 0;
  z-index: 50;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr auto;

  // grid-template-columns: 80px 1fr 80px;
  transition: all 0.2s;
  padding-inline: rem(24px);

  @include for-semi-narrow-list {
    padding-inline: rem(40px);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);

  }

  @include for-extra-large-layout {
    padding-inline: rem(80px);
  }




  .app-header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    height: rem(80px);
    z-index: 11;
    grid-column: 2;
    top: 0;
    align-items: center;
    transition: all 0.2s;

    &.expanded {
      transform: scaleY(2.2);
      transition: all 0.2s;
    }

    .any-container {
      width: rem(352.203px);
      height: 48px;
      align-items: center;
      display: flex;
      padding: 0;
      transition: all 0.2s;

      button {
        align-items: center;
        border: 1px solid #ddd;
        background-color: white;
        border-radius: rem(40px);
        font-size: rem(14px);
        cursor: pointer;
        display: flex;
        height: rem(48px);
        padding-inline-start: rem(8px);
        padding-inline-end: 0;
        grid-template-rows: none;
        width: rem(352.203px);
        // height: rem(48px);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.05);
        transition: box-shadow 0.2s ease;

        &:hover {
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
        }

        &:nth-child(2) {
          position: relative;
          margin-inline: 1px;

          &::before {
            content: '';
            position: absolute;
            left: -1px;
            background-color: lightgray;
            height: 24px;
            width: 1px;
            margin-block-start: -1px;
          }

          &::after {
            content: '';
            position: absolute;
            right: -1px;
            background-color: lightgray;
            height: 24px;
            width: 1px;
            margin-block-start: -1px;
          }
        }

        & .btn-search {
          cursor: pointer;

          background-color: $clr1;
          height: rem(32px);
          width: rem(32px);
          border-radius: 50%;
          border: none;
          display: flex;
          padding-inline: 10px;
          padding-block: 10px;
          margin-block: 7px;
          margin-inline-end: 8px;

          img {
            height: rem(12px);
            width: rem(12px);
            filter: brightness(0) invert(1);
            object-fit: cover;
          }
        }
      }

      .search-txt {
        padding-inline: rem(16px);
        line-height: rem(22px);
        white-space: nowrap;
        font-family: Airbnb_Cereal-Medium;
      }

      .anywhere {
        font-weight: 500;
      }

      .any-week {
        border-right: 1px solid rgba(0, 0, 0, 0.18);
        border-left: 1px solid rgba(0, 0, 0, 0.18);
      }

      .guests {
        color: #717171;
        font-family: Airbnb_Cereal-Book;
      }

      .search-container {
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        justify-content: end;
      }
    }

    .searchbar {
      .experiences {
        z-index: 500;
        font-family: Airbnb_Cereal-Book;
        font-weight: 400;
        display: flex;
        justify-content: center;
        font-size: rem(16px);
        padding-block: rem(11.21px);

        &>* {
          & span {
            line-height: 20px;
            letter-spacing: normal;
            margin-inline: rem(16px);
            padding-block: rem(10px);
            position: relative;

            &::after {
              content: '';
              position: absolute;
              background-color: black;
              height: 2px;
              width: 100%;
              bottom: 0;
              left: 0;

              transition: transform 0.2s ease;
              transform: scaleX(0);
            }

            &:hover {
              color: rgb(138, 138, 138);

              &::after {
                transform: scaleX(1);
                background-color: rgb(138, 138, 138);
              }
            }
          }

          &.selected span {
            &::after {
              color: black;
              transform: scaleX(1);
            }

            &:hover {
              color: black;

              &::after {
                background-color: black;
              }
            }
          }
        }
      }
    }

    .user-container {
      position: relative;
      justify-self: end;

      .user-btn {
        cursor: pointer;
        height: rem(48px);
        width: rem(86px);
        display: flex;
        gap: rem(10px);
        border-bottom: 1px solid #ddd;
        border-radius: rem(100px);
        background-color: $clr6;
        align-items: center;
        border: 1px solid rgb(221, 221, 221);
        z-index: 200;
        transition: box-shadow 0.2s ease;

        &:hover {
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
        }

        .user-icon {
          width: rem(32px);
          height: rem(32px);
          margin-left: 5px;
          border-radius: 50%;

        }

        .hamburger {
          width: rem(16px);
          height: rem(16px);
          margin-inline-start: rem(6px);
        }
      }
    }

    .logo-container {
      justify-self: start;
      text-decoration: none;
      display: flex;

      img {
        height: rem(40px);
        width: rem(40px);
      }

      p {
        align-self: center;
        margin: 0;
        color: $clr1;
        font-size: rem(21px);
        display: block;
        font-family: Airbnb_Cereal-Bold;

        @include for-large-list-max {
          display: none;
        }
      }
    }

    .user-info {
      padding-inline-start: rem(100px);
      color: $clr1;

      .score {
        background-color: $clr2;
        color: $clr6;
        padding: 8px;
        margin: 10px;
        border-radius: 50%;
      }

      img {
        width: rem(32px);
        height: rem(32px);
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .user-info .btn-link {
      color: $clr2;
    }

    nav .active {
      color: $clr1;
    }
  }
}

.gray-viewport {
  top: 0;
  left: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.25);
}

// @include for-normal-layout {
//   .app-header-container {
//     grid-template-columns: 40px 1fr 40px;
//   }
// }

// @include for-extra-large-layout {
//   .app-header-container {
//     grid-template-columns: 80px 1fr 80px;

//   }
// }