.preview-card {
    padding: 0;
}

.preview-card:hover .custom-arrow {
    cursor: pointer;

    background-color: white;
    opacity: 0.85;

    &:hover {
        opacity: 1;
        transform: scale(1.05);
    }
}

.stay-preview {
    padding: 0;
    cursor: pointer;

    .stay-loc {
        // margin-block-start: em(10px);
        color: $clr2;
        font-size: em(15px);
        font-weight: 600;
        padding: 0;
        line-height: 2;
    }

    .stay-rating {
        // margin-block-start: em(10px);
        font-size: em(15px);
        font-family: Airbnb_Cereal-Book;
        display: flex;
        align-items: center;
        justify-content: center;
        // justify-items: center;
        // align-content: center;

        img {
            height: 12px;
            width: 12px;
            margin-inline-end: 5px;
            margin-block-end: 1px;
        }
    }

    .stay-price {
        font-size: em(15px);
        font-weight: 600;
        padding: 0;
        font-family: Airbnb_Cereal-Book;
        line-height: 2;

        span {
            color: $clr2;
            font-weight: 400;
        }
    }

    .stay-date,
    .stay-distance {
        color: $clr3;
        font-size: em(15.2px);
        margin: 0;
        font-family: Airbnb_Cereal-Book;
    }

    .stay-distance {
        line-height: 1;
    }

}

.wishlist-btn-container {
    position: relative;

    .wishlist-icon-btn {
        position: absolute;
        top: 15px;
        right: 15px;
        border: none;
        padding: 0;
        background-color: inherit;
        z-index: 1;
    }

    .preview-wishlist-icon {
        height: 24px;
        width: 24px;

        cursor: pointer;
    }
}