.detail-container {
  .btn-wish-list {
    border: 0;
    height: 34px;
    background-color: white;
    padding: 0px 15px;
    margin: 0;
    text-decoration: underline;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: $clr4;
    }

  }

  form>* {
    display: block;
    width: 200px;
    margin: 10px 0px;
  }

  .btn-link {
    border: 0;
    background-color: transparent;
    text-decoration: underline;
    transition: 0.5s;
  }

  .btn-link:hover {
    background-color: $clr1;
    transform: scale(1.1);
  }
}