@font-face {
  font-family: Airbnb_Cereal-Bold;
  src: url('/src/assets/airbnb-fonts/Airbnb_Cereal-Bold.ttf');
}

@font-face {
  font-family: Airbnb_Cereal-Book;
  src: url('/src/assets/airbnb-fonts/Airbnb_Cereal-Book.ttf');
}

@font-face {
  font-family: Airbnb_Cereal-Medium;
  src: url('/src/assets/airbnb-fonts/Airbnb-Cereal-Medium.woff2');
}

@font-face {
  font-family: Circular-Medium;
  src: url('src/assets/airbnb-fonts/CircularStd-Medium.ttf');
}